extends layout

block content
    h1.ui.header= title
    .ui.grid
        .three.column.row
            .column
                canvas#myChart
            .column
                canvas#myChart2
        .row
            .column
                .ui.form
                    .fields
                        .field
                            label Startdatum
                            .ui.calendar#rangestart
                                .ui.input.left.icon
                                    i.calendar.icon
                                    input#datepickerStart(type='text' placeholder='Startdatum' name='dateStart')
                        .field
                            label Enddatum
                            .ui.calendar#rangeend
                                .ui.input.left.icon
                                    i.calendar.icon
                                    input#datepickerEnd(type='text' placeholder='Enddatum' name='dateEnd')
        .two.column.centered.row
            .column
                h2 Wiederkehrende Einnahmen
                table#table_recurring_earnings.ui.table.showPointer
                    thead
                        tr
                            th(style="width:70%;") Name
                            th(style="width:20%;") Datum
                            th(style="width:10%;") Betrag
            .column
                h2 Sonstige Einnahmen
                table#table_other_earnings.ui.table.showPointer
                    thead
                        tr
                            th(style="width:70%;") Name
                            th(style="width:20%;") Datum
                            th(style="width:10%;") Betrag
        .row
            .column
                .ui.form
                    h2.ui.dividing.header Hinzufügen
                    .fields
                        .field
                            label Kategorie
                            select.ui.fluid.dropdown.selection#selectCategory
                                option(value='') Kategorie
                                option(value='0') Wiederkehrende Einnahmen
                                option(value='1') Sonstige Einnahmen
                        .field
                            label Name
                            input#inputName(type='text' name='name' placeholder='Name')
                        .field
                            label Datum
                            .ui.calendar#selectDate
                                .ui.input.left.icon
                                    i.calendar.icon
                                    input#inputDate(type="text" placeholder="Datum" name="date")
                        .field
                            label Betrag
                            input#inputValue(type='number' name='product' placeholder='Wert')
                    button#btnAddEarning(class="ui button submit") Hinzufügen

    script.
        userID = #{user.id}

    script(src='javascripts/earnings.js')

