doctype html
html(lang='de')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')

        link(rel='stylesheet', href='/libraries/css/fa-all.min.css')
        link(rel='stylesheet', href='/semantic/semantic.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        link(rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png")
        link(rel="manifest" href="/favicons/site.webmanifest")
        link(rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#008080")
        meta(name="msapplication-TileColor" content="#008080")
        meta(name="theme-color" content="#ffffff")

    body
        .ui.text.container
            div#signup.ui.form
                h2.ui.dividing.header Konto Erstellen
                .field
                    label(for='username') Nutzername
                    input#username(name='username' type='text' placeholder='Nutzername')
                .field
                    label(for='fullname') Anzeigename
                    input#fullname(name='fullname' type='text' placeholder='Voller Name')
                .field
                    label(for='email') Email-Adresse
                    input#email(name='email' type='email' placeholder='Email-Adresse')
                .field
                    label(for='admin') Admin?
                    input#admin(name='admin' type='checkbox', value="1")
                .two.fields
                    .field
                        label(for='password') Passwort
                        input#password(name='password' type='password' placeholder='Passwort')
                    .field
                        label(for='password2') Passwort wiederholen
                        input#password2(name='passwordRepeat' type='password' placeholder='Wiederholen')
                button#addUserBtn.ui.primary.button Konto erstellen
                button#backBtn.ui.button
                    i.left.arrow.icon
                    | Zurück zur Startseite
    script(src='/libraries/js/jquery-3.6.0.min.js')
    script(src='/semantic/semantic.js')
    script(src='/javascripts/signup.js')
