extends ../layout

block content
    .ui.icon.message.red
        i.exclamation.icon
        .content
            .header HTTP 403: Forbidden
            p Der Zugriff auf die angeforderte Ressource wurde verweigert. Sie besitzen nicht die erforderlichen Rechte.
